body {
  min-height: 2000px;
  padding-top: 70px;
}

.img-thumbnail-small {
    padding: 4px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    max-width: 100%;
    height: 100px;
}

.top-buffer { margin-top:20px; }

.fa-fw {
    width: 23px;
    text-align: center;
    margin: 1px;
}
